
/** Universal **/

html {
  font-family: 'Open Sans', sans-serif;
}

* {
  border-radius: 0 !important;
  border:none !important;
}

strong{
    font-weight: bold;
}

em {
  font-style: italic;
}
/** Header **/

nav {
  background-image: url("../images/navbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-header  p {
  color: #fff;
  font-weight: bold;
}

.navbar-text {
  margin-top: 2rem;
}

.navbar-default .navbar-nav>li>a {
color: #fff;
margin-top: 1rem;
}

.navbar-default .navbar-nav>li>a:hover {
color: #fff;
font-weight: bold;
}


.navbar-default .navbar-nav>li>a:visited {
color: #fff;
}

.navbar-header img {
  padding: 0.7rem 0;
}

/** Banner **/

.banner img {
  width: 100%;
}


/** Main **/

.main .text {
    padding: 2.5rem;
    text-align: justify;
}

.main .text p {
  padding-bottom: 0.7rem;
  line-height: normal;
}

#medellin {
  margin-right: 1.5rem;
}

#teamo {
    margin-left: 1.5rem;
}

.quote {
  background-image: url("../images/grass-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 12rem;
  font-size: 1.35rem;
  text-align: center;
  z-index: 100;
  line-height: 3rem;
}

.quote p {
  padding: 2rem;
}


/** Footer **/
footer {
  text-align: center;
}

footer p {
  display: inline-block;
  padding: 2rem;
  word-spacing: 0.7rem;
  text-align: center;
}

footer a {
  color:inherit;
}




/** TEAM PAGE **/

/** Team **/

.row {
  margin: 2rem 0;
}

.player .col-md-3 {
  text-align: center;
  max-width: 200px;
  padding: 2rem;

}

.player p {
  background-color: black;
  color:white;
  max-width: 200px;
  text-align: center;
  padding: 0.7rem;
}


@media only screen and (max-width=767px)
